/* Styling for a tags. */
a, a:visited, a:active, a:hover {
  text-decoration: none; 
  text-transform: uppercase; 
  color: rgba(0,0,0,0.6);
}
a:hover {color: rgba(0,0,0,1);}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 50px;
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
}